In [111]:
import os
import pandas as pd
from functools import reduce
from getpass import getpass

**GitHub–Colab Integration**
This section has a workflow for integrating Google Colab with the project's GitHub repository.

In [8]:
# GitHub config

GITHUB_USERNAME = "chiraagmishra"
REPO_NAME = "urban-technology-project"
GITHUB_EMAIL = "chiraag.cm@gmail.com"
GITHUB_NAME = "Chiraag Mishra"

In [10]:
repo_path = f"/content/{REPO_NAME}"

# Authenticate (token hidden)
token = getpass("Paste GitHub Personal Access Token: ")

# Clone repo with credentials
if not os.path.exists(repo_path):
    !git clone https://{GITHUB_USERNAME}:{token}@github.com/{GITHUB_USERNAME}/{REPO_NAME}.git
else:
    print("Repository already exists.")

# Navigate and configure
%cd {repo_path}

!git config --global user.email "{GITHUB_EMAIL}"
!git config --global user.name "{GITHUB_NAME}"
!git config --global --add safe.directory {repo_path}

print("GitHub set-up. Ready for commit & push from Colab.")

Paste your GitHub Personal Access Token: ··········
Repository already exists.
/content/urban-technology-project
GitHub set-up. Ready for commit & push from Colab.

**Data Load**

In [98]:
df_migration = pd.read_excel('data/raw/migrationStatistics.xlsx')
df_unemployment = pd.read_excel('data/raw/unemployment.xlsx')
df_vacancies = pd.read_excel('data/raw/jobVacancies.xlsx')
df_vacancies_sc = pd.read_excel('data/raw/jobVacanciesSocialContribution.xlsx')

**Data Preparation**

Table 1: Migration Statistics

In [83]:
df_migration.head(3)

,State,Year,Germans_Male_Arrivals from foreign countries,Germans_Male_Departures to foreign countries,Germans_Male_Migration balance,Germans_Female_Arrivals from foreign countries,Germans_Female_Departures to foreign countries,Germans_Female_Migration balance,Germans_Total_Arrivals from foreign countries,Germans_Total_Departures to foreign countries,...,Foreigners_Total_Migration balance,Total_Male_Arrivals from foreign countries,Total_Male_Departures to foreign countries,Total_Male_Migration balance,Total_Female_Arrivals from foreign countries,Total_Female_Departures to foreign countries,Total_Female_Migration balance,Total_Total_Arrivals from foreign countries,Total_Total_Departures to foreign countries,Total_Total_Migration balance
0,Baden-Württemberg,2000,12435,9809,2626,10051,7975,2076,22486,17784,...,6418,78303,76819,1484,60583,50947,9636,138886,127766,11120
1,Baden-Württemberg,2001,10136,10151,-15,7939,8082,-143,18075,18233,...,24903,77750,67645,10105,60881,46241,14640,138631,113886,24745
2,Baden-Württemberg,2002,9607,10219,-612,7385,8522,-1137,16992,18741,...,18590,74909,69608,5301,60796,49256,11540,135705,118864,16841

In [84]:
# Number of rows and columns
df_migration.shape

(400, 29)

In [85]:
df_migration.isnull().sum()  # No missing values

State                                                0
Year                                                 0
Germans_Male_Arrivals from foreign countries         0
Germans_Male_Departures to foreign countries         0
Germans_Male_Migration balance                       0
Germans_Female_Arrivals from foreign countries       0
Germans_Female_Departures to foreign countries       0
Germans_Female_Migration balance                     0
Germans_Total_Arrivals from foreign countries        0
Germans_Total_Departures to foreign countries        0
Germans_Total_Migration balance                      0
Foreigners_Male_Arrivals from foreign countries      0
Foreigners_Male_Departures to foreign countries      0
Foreigners_Male_Migration balance                    0
Foreigners_Female_Arrivals from foreign countries    0
Foreigners_Female_Departures to foreign countries    0
Foreigners_Female_Migration balance                  0
Foreigners_Total_Arrivals from foreign countries     0
Foreigners_Total_Departures to foreign countries     0
Foreigners_Total_Migration balance                   0
Total_Male_Arrivals from foreign countries           0
Total_Male_Departures to foreign countries           0
Total_Male_Migration balance                         0
Total_Female_Arrivals from foreign countries         0
Total_Female_Departures to foreign countries         0
Total_Female_Migration balance                       0
Total_Total_Arrivals from foreign countries          0
Total_Total_Departures to foreign countries          0
Total_Total_Migration balance                        0
dtype: int64

Table 2: Unemployment


1.   Keep data from 2000-2024
2.   Convert column "Unemployment as percent. of civilian labour force" to float

In [86]:
# Keep data from year 2000-2024
df_unemployment_filtered = df_unemployment[df_unemployment['Year'].between(2000, 2024)].copy()

In [87]:
# Convert 'Unemployment as percent.' to float64
df_unemployment_filtered['Unemployment as percent. of civilian labour force'] = df_unemployment_filtered['Unemployment as percent. of civilian labour force'].astype(float)

In [88]:
df_unemployment_filtered.head(3)

,State,Year,Registered unemployed,Unemployment as percent. of civilian labour force,Rate of registered unemployed,Registered vacancies
9,Baden-Württemberg,2000,281500,5.4,6.0,78669
10,Baden-Württemberg,2001,264301,4.9,5.5,73514
11,Baden-Württemberg,2002,295005,5.4,6.1,57496

In [89]:
df_unemployment_filtered.shape

(400, 6)

In [90]:
df_unemployment_filtered.isnull().sum() # No missing values

State                                                0
Year                                                 0
Registered unemployed                                0
Unemployment as percent. of civilian labour force    0
Rate of registered unemployed                        0
Registered vacancies                                 0
dtype: int64

Table 3 & 4: Job Vacancies (with and without subject to Social Contributions)


1.   Convert into appropriate long form (for time series)
2.   Filter data for years 2000-2024

In [92]:
# Convert into long form with state names as column values under 'State'
df_vacancies_long = df_vacancies.copy()
df_vacancies_long = df_vacancies_long.melt(
    id_vars=['Year'],
    var_name='State',
    value_name='Vacancy'
).sort_values(['State', 'Year']).reset_index(drop=True)

df_vacancies_sc_long = df_vacancies_sc.copy()
df_vacancies_sc_long = df_vacancies_sc_long.melt(
    id_vars=['Year'],
    var_name='State',
    value_name='Vacancy'
).sort_values(['State', 'Year']).reset_index(drop=True)

In [93]:
# Keep data from year 2000-2024
df_vacancies_long = df_vacancies_long[df_vacancies_long['Year'].between(2000, 2024)]
df_vacancies_sc_long = df_vacancies_sc_long[df_vacancies_sc_long['Year'].between(2000, 2024)]

Merging job vacancy tables

In [106]:
df_vacancies_merged = pd.merge(
    df_vacancies_long,
    df_vacancies_sc_long,
    on=['State', 'Year'],
    how='inner',
    suffixes=('', '_sc')
)

In [117]:
df_vacancies_merged.head(3)

   Year              State  Vacancy  Vacancy_sc
0  2000  Baden-Württemberg    78669       75810
1  2001  Baden-Württemberg    73514       70418
2  2002  Baden-Württemberg    57496       54136

In [109]:
df_vacancies_merged.shape

(400, 4)

In [110]:
df_vacancies_merged.isnull().sum() # No missing values

Year          0
State         0
Vacancy       0
Vacancy_sc    0
dtype: int64

Merge all dataframes

In [112]:
dfs =  [df_migration, df_unemployment_filtered, df_vacancies_merged]
df_combined = reduce(lambda left, right: pd.merge(left, right, on=['State', 'Year']), dfs)

In [119]:
df_combined

,State,Year,Germans_Male_Arrivals from foreign countries,Germans_Male_Departures to foreign countries,Germans_Male_Migration balance,Germans_Female_Arrivals from foreign countries,Germans_Female_Departures to foreign countries,Germans_Female_Migration balance,Germans_Total_Arrivals from foreign countries,Germans_Total_Departures to foreign countries,...,Total_Female_Migration balance,Total_Total_Arrivals from foreign countries,Total_Total_Departures to foreign countries,Total_Total_Migration balance,Registered unemployed,Unemployment as percent. of civilian labour force,Rate of registered unemployed,Registered vacancies,Vacancy,Vacancy_sc
0,Baden-Württemberg,2000,12435,9809,2626,10051,7975,2076,22486,17784,...,9636,138886,127766,11120,281500,5.4,6.0,78669,78669,75810
1,Baden-Württemberg,2001,10136,10151,-15,7939,8082,-143,18075,18233,...,14640,138631,113886,24745,264301,4.9,5.5,73514,73514,70418
2,Baden-Württemberg,2002,9607,10219,-612,7385,8522,-1137,16992,18741,...,11540,135705,118864,16841,295005,5.4,6.1,57496,57496,54136
3,Baden-Württemberg,2003,9043,10838,-1795,6949,8903,-1954,15992,19741,...,6093,124013,119726,4287,336881,6.2,6.9,37759,37759,34494
4,Baden-Württemberg,2004,8809,11463,-2654,6808,9730,-2922,15617,21193,...,2698,121797,123787,-1990,340943,6.2,6.9,29907,29907,26861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Thüringen,2020,2300,2664,-364,1152,1276,-124,3452,3940,...,2523,20495,15580,4915,66678,6.0,6.5,18211,18211,17933
396,Thüringen,2021,2233,2689,-456,1082,1384,-302,3315,4073,...,4900,26247,15518,10729,62249,5.6,6.1,20242,20242,19960
397,Thüringen,2022,2251,2864,-613,1113,1623,-510,3364,4487,...,21322,60903,21428,39475,58172,5.3,5.8,21308,21308,21032
398,Thüringen,2023,2253,2887,-634,1130,1473,-343,3383,4360,...,6993,42599,24709,17890,64978,5.9,6.4,16586,16586,16404
399,Thüringen,2024,2201,2834,-633,1138,1572,-434,3339,4406,...,4533,33760,23674,10086,68768,6.2,6.8,15139,15139,14946

In [121]:
# Export the merged dataframe
if not os.path.exists('data/processed'):
    os.makedirs('data/processed')

df_combined.to_csv('data/processed/combined_data.csv', index=False)